* {
    top: 0 ;
    left: 0 ;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

body{
    margin: 0 0 0 0px;
}

nav{
    z-index: 3;
    position: relative;
}

.navToggle{
    color: white;
}

nav li{
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    list-style-type: none;
    font-size: 1.5em;
}

nav a {
    display: inline-block;
    text-decoration: none ;
    color: #40C4AA;
    font-weight: 400;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.fill ul li a {
    position: relative;
}

nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }

  nav.fill ul li a {
    transition: all 2s;
  }
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

  .active{
      background-color: black;
      color: white;
  }

  
#home{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../img/Test1.png');
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-size: contain; 
} 

.headTitle{
    display: inline-block;
    margin-top: 11%;
    margin-left: 20%;; 
}

#home h1{
    font-size: 7em;
    width: 40%;
    border-bottom: 7px solid #40C4AA ;
    font-weight: 700;
}

#home .intro{
    margin-top: -15%;
    font-size: 3em ;
}

#home .vertical{
        transform: rotate(90deg);
        transform-origin: left bottom 0;
        font-size: 2.5em;
}


.toggle{
    position: absolute; 
    width: 100%;  
    height: 100%;   
    top: 0;
    left: 0;   
    z-index: 2;   
    opacity: 0.7;
    background-color: #40C4AA;
}

#about .content{
    position: absolute;
    left: 13%;
    top: 15%;
    width: 100%;
    color: white;
}

#about{
    display: none;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#about h1{
    font-size: 4em;
    font-weight: 700;
    border-bottom: 2px solid white ;     
    width: 300px;
}


#about p{
    margin-top: -25px;
    bottom: 0;
    width: 40%;
    text-align: justify;
    font-size: 1.3em;
    font-weight: 200;
}

#xp{
    display: none;
}

#contact{
    display: none;
}





/* KEYFRAMES */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: black;
    }
  }